body {
    text-align: center;
}

/* versão mobile */



header {
    background-color: red;
    color: white;
}

header h1 {
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}

header h2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    padding: 10px;
}

li img {
    cursor: pointer;
    width: 144px;
    height: 87px; 
}

li h1 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.bordaVerde {
    border:3px solid rgb(10, 170, 10);
    border-radius: 2px;
}